.hero-wrapper{
    position: relative;
    padding-top: 32px;
    padding-bottom: 160px;
}
.hero-wrapper.home{
height:100vh
}
.hero-title {
    padding: 0 30px;
    margin-top: 180px;
   
}
.hero-title.home {
    margin-top: 40vh;
}

.gatsby-image-wrapper.hero {
    height: 100vh;
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0;
    left: 0;
}
.more-wrapper {
    padding: 0 30px 0 0;
    position: absolute;
    bottom: 80px;
    right: 0;
    width: 54%;
}
.more-wrapper svg path {
    fill: #C2A353;
}
.more-wrapper button{
    text-transform: uppercase;
    line-height: 18px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
}
.more-wrapper button span {
    width: 100%;
    text-align: left;
    margin-left: 10px;
}
@media (min-width: 992px){
    .gatsby-image-wrapper.hero {
        height: auto;
    }
    .hero-title{
        padding: 0 45px;
        position: relative;
    }
    .hero-title.home {
        margin-top: 50vh;
    }
    .more-wrapper {
        width: auto;
        right: 0;
        bottom: 50%;
        transform: translateY(50%);
    }
    
    .more-wrapper button span {
        order: 1;
        width: auto;
        margin-left: 12px;
        margin-bottom: 0;
    }
    
    .more-wrapper {
        padding: 0 45px;
    }
}