@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

*{
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    background: #000;
    color: #fff;
}
input, textarea {
    -webkit-appearance: none;
    border-radius: 0;
}
input, textarea{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #fff;
}
h2{
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
    margin: 0;
}
h3{
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    line-height: 48px;
    color: #C2A353;
    margin: 0;
    font-weight: 400;
}
button{
    background: none;
    border: none;
    padding:0;
    margin:0;
    color: inherit;
}
.font-italy{
    font-family: 'Playfair Display', serif;
}
.color-second{
    color: #C2A353;
}
.container{
    width: 1440px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.line-after:after{
    content: "";
    position: absolute;
    width: 29px;
    height: 1px;
    background: #C2A353;
    right: 0;
}
.line-before{
    position: relative;
}
.line-before:after {
    content: "";
    position: absolute;
    width: 19px;
    height: 1px;
    background: #C2A353;
    left: -30px;
    top: 50%;
    transform: translateY(50%);
}
@media(min-width: 992px){
    .line-before:after{
        width: 29px;
        left:-45px;
    }
    h2, h3{
        font-size: 40px;
    }
}