.page-title{
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    text-align: center;
    color: inherit;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    padding-right: 45px;
    padding-left: 45px;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}
.menu-burger span {
    display: block;
    width: 30px;
    height: 1px;
    background: #fff;
    margin: 10px 0;
    margin-left: auto;
}

.menu-burger {
    overflow: hidden;
    margin-top: -10px;
    margin-bottom: -10px;
    cursor: pointer;
    margin-right: auto;
    margin-left: -30px;
    position: absolute;
    left: 30px;
    top: 0;
}

.menu-burger span:nth-child(2) {
    width: 60px;
    background: #C2A353;
}

.menu-wrapper{
    background: #000;
    box-shadow: 3px 0 8px rgb(0 0 0 / 35%);
    height: 100%;
    justify-content: flex-end;
    left: 0;
    opacity: 0;
    overflow-y: auto;
    padding: 46px 15px 15px;
    position: fixed;
    top: 0;
    transition-duration: .4s;
    visibility: hidden;
    width: 100%;
    z-index: 999;
    z-index: -10;
}
.menu-wrapper.open{
    opacity: 1;
    transition-duration: .4s;
    visibility: visible;
    z-index: 1000;
}
.menu-back{
    background: #000;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition-duration: .4s;
    visibility: hidden;
    width: 100%;
    z-index: -1;
}
.menu-wrapper nav ul {
    display: block;
}
.menu-wrapper .social {
    display: flex;
    position: static;
    justify-content: center;
    margin-top: 45px;
}
@media (min-width: 992px){
    .menu-burger {
        overflow: hidden;
        margin-top: -10px;
        margin-bottom: -10px;
        cursor: pointer;
        margin-right: auto;
        margin-left: -45px;
        position: absolute;
        left: 45px;
        top: 0;
    }
    
    .menu-burger span:nth-child(2) {
        width: 75px;
        background: #C2A353;
    }
}